.login-form{
    background-image: url("/img/bkg.svg");
}
.login-form h1{
color: #1292B9;
font-size: 50px;
letter-spacing: 4.17px;
line-height: 50px;
}
.input{
    background-color: rgba(182, 181, 202, 0.37);
    border-bottom: 3px solid #1292B9;
}