.homepage {
    background-image: url("/img/bkg.svg");
    background-position: 0 57px;
    padding: 40px 0px 150px;
    background-repeat: no-repeat;
}

.homepage h1 {
    color: #1292b9;
    font-size: 60px;
    letter-spacing: 5px;
    line-height: 60px;
    margin-bottom: 24px;

}

.homepage h3 {
    font-family: "Share Tech Mono", monospace;
    color: #666665;
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 42px;
    margin-bottom:40px;
}

.background-video {
    opacity: 40%;
    width: 100vw;
}

.video-container {
    margin-top: -300px;
    width: 100%;
    z-index: -999;
    position: absolute;
    
}

.homepage .homeHeader {
    padding: 200px 0 0;
    width: 100%;
    overflow: hidden;
}


.homepage .game-controller {
    width: 427px;
    margin: 0 auto;
}

.works {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-card {
    width: 1169px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 48px;
}

.homepage .home-card {
    width: 269px;
    background-color: #f5f6f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    min-height: 310px;
}

.home-card .icon {
    height: 63px;
    width: 57px;
    margin-top: 53px;
    margin-bottom: 34px;
}

.home-card .calendar {
    width: 45px;
    margin: 0 auto;
    object-position: center;
}

.home-card h4 {
    color: #1292b9;
    font-family: "VT323", sans-serif;
    font-size: 36px;
    letter-spacing: 3px;
    line-height: 36px;
    margin-bottom: 11px;
    text-align: center;
}

.home-card p {
    color: #867f79;
    font-family: "Share Tech Mono", monospace;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 21px;
    text-align: center;
}

.every-game {
    margin-top: 214px;
}

.every-game .composition {
    height: 361px;
    width: 568px;
}

.every-game .gameText {
    margin-left: 29px;
}

.every-game .gameText h3 {
    color: #1292b9;
    font-family: "VT323", sans-serif;
    font-size: 50px;
    letter-spacing: 4.17px;
    line-height: 50px;
}

.every-game .gameText p {
    font-family: "Share Tech Mono", monospace;
    color: #666665;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 20px;
    margin-top: 29px;
    margin-bottom: 30px;
}