body {
  font-family: 'Share Tech Mono',
    monospace;
  font-weight: 100;
  margin:0;
}

h1,
h2 {
  font-family: "VT323", sans-serif;
}


p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.toast {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99999;
  width: 350px;
}

.myButton {

  height: 58px;
  width: 197px;
  background-color: #CB295F;
  color: #FFFFFF;
  font-family: "VT323",
    sans-serif;
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 18px;
  text-align: center;
  padding: 10px 30px;

}

img{
  display: block;
  width: 100%;
}

.error-message{
  background:red;
  color: white;
  

}